/* ----------------------------- Overriding Bootstrap styling ----------------------------- */

/* Button primary and Dropdown */
.btn:focus {
  box-shadow: none;
}

.btn-primary, .btn-primary.dropdown-toggle {
  border-radius: 0;
  background: #A8DB8C;
  border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.dropdown-toggle:focus, .btn-primary:visited, .btn-primary:not(:disabled):not(.disabled):active {
  background: #A8DB8C;
  border: none;
}

.btn-primary:focus, .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem rgba(168, 219, 140, .25);
}

/* Navbar */

.navbar {
  background-color: #A8DB8C;
}



/* Custom styles */
footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #A8DB8C;
  color: white;
  padding: 1em;
  margin-top: 1em;
}

footer p {
  margin: 0;
}


.program img {
  width: 100%;
  height: auto;
  text-align: center;
}

/* Form Page */
.h2{
  text-align: center;
  color: #47525E;
  font-family: "Lato", sans-serif;
}

.btn-default{
  background:#A8DB8C;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  color: white;
  margin-left: 330px;
  bottom: 30px;
}

.site-entrance{
  padding: 30px;
}

.box-entrance{
  position: relative;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  background: #E1EDE6;
}

#checkbox_anon.form-control{
  margin-top: 5px;
  margin-right: 500px;
  width: 50px;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 1px solid #f44336;
  background: #f44336;
  color: white;
  margin: 10px 0;
  border-radius: 8px;
}

.errorlist{
  padding: 0;
}

@media only screen and (max-width: 760px) and (max-height: 900px){
  .btn-default {
    font-size: 18pt; 
    margin-left: 5px;
  }
}

/*start social media*/
.fa {
  padding: 20px;
  font-size: 40px;
  border-radius:50%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
/*end social media*/
