.logoMenu{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.navbarInt{
  background-color: #c21554;
  font-size: xx-large;
  /*text : #32c9e4;*/
  font-family: Helvetica;
}
.navbarText{
  color: #32c9e4;
}
.pictProfileAuthor{
  size: 600px;
}
.spc{
  margin: 70px;
  margin-bottom: 50px;
}
.articleText{
  text-align: center;
  font-size: 40px;
}

.vl {
  margin: 70px;
  margin-left: 550px;
    border-left: 2px solid #c21554;
    height: 700px;
    position: absolute;
    /*top: 150px;*/
}
.ExpTextTitle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px; 
  text-align: center;
}
.ExpTextDesc{
  margin-top: 200px;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
}
.ExpTextDesc li{
  margin-bottom: 20px;
  font-size: large;
}