{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Humbala humbala heo</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">

    <style type="text/css">
      .jumbotron{
        text-align: center;
      }
    </style>
</head>
<body onload="loadBooks()">
  <div class="jumbotron">
    {% if user.is_authenticated %}
      <p>Welcome {{ user.username }}</p>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>

      <input class="form-control mr-sm-2" id="search" type="search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="loadBooksReady()">Search</button>

      <h2 id="numberOfFavorit" style="text-align: center;"></h2>
      <table class="table" style="align-content: center; align-items: center; text-align: center;">
        <thead>
          <tr>
            <td scope="col"><h3>Preview</h3></td>
            <th scope="col"><h3>Title</h3></th>
            <td scope="col"><h3>Author</h3></td>
            <td scope="col"><h3>Favorited</h3></td>
          </tr>
        </thead>
        <tbody id="tabel">
        </tbody>
      </div>

    {% else %}
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </div>

  <script src="{%static "function/list_buku.js"%}"></script>

</body>
</html>