{%include 'story_10_header.html'%}
{% load static %}
<div class="jumbotron">
  {% csrf_token %}
  <h4 style="text-align: center;">Subscribe !!!</h4>
  <input id="username" class="form-control" type="text" name="" placeholder="name" onkeyup="validateUsernameExist()">
  <small id="user_availability"></small>
  <br>
  <input id="email" class="form-control" type="email" name="" placeholder="email@email.com" onkeyup="validateEmailExist()">
  <small id="email_availability"></small>
  <br>
  <input id="password" class="form-control" type="password" name="" placeholder="password" onkeyup="validatePassword()">
  <small id="pass_strength"></small>
  <br>
  <button id="registrate" class="btn" onclick="registrate()" disabled>Submit</button>
</div>
<div class="jumbotron">
  <h2 style="text-align: center;">Subscriber :</h2>
  <table class="table" style="align-content: center; align-items: center; text-align: center;">
    <thead>
      <tr>
        <td scope="col"><h3>Name</h3></td>
        <th scope="col"><h3>Email</h3></th>
        <th scope="col"><h3></h3></th>
      </tr>
    </thead>
    <tbody id="tabel">
    </tbody>
  </div>
</div>
<script src="{%static "function/registration.js"%}"></script>
{%include 'story_10_footer.html'%}