<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title>Beranda</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">


 <style type="text/css">
    body{
      background-image: url("https://hdqwalls.com/download/calm-ocean-water-5k-jd-2048x1152.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: black;
      font-family: 'Rancho', shadow-multiple;
      margin-left: 50px;
      margin-right: 50px;
      /*animation: fade 4s infinite;*/
      transition: all 1s ease;
      font-size: 1rem;
    }
  </style>
</head>
<body onload="loadSubscriber()">
  <div class="row">
    <div class="col">
      <a href="profile" class="float-left">
        <button class="btn">
          Profile
        </button>
      </a>
      <a href="beranda">
        <button class="btn">
          Beranda
        </button>
      </a>
    </div> 
    <h2 class="col">
      <button onclick="changeTheme()" class="float-right btn">
        <p  id="tulisan-tombol">
          Senja
        </p>
      </button>
    </h2>
  </div>