</div>
{% load static %}
  <script type="text/javascript">
    var y  = new Boolean(false);

    function changeTheme(){
      y = y^true;
      if(y === 1){
        document.body.style.backgroundImage = "url('https://images.pexels.com/photos/165505/pexels-photo-165505.jpeg?auto=compress&cs=tinysrgb&h=350')";
        document.getElementById("tulisan-tombol").innerHTML="Laut Biru";
      }else{
        document.body.style.backgroundImage = "url('https://hdqwalls.com/download/calm-ocean-water-5k-jd-2048x1152.jpg')";
        document.getElementById("tulisan-tombol").innerHTML="Senja";
      }
    }
  </script>

</body>
</html>