<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title>Beranda</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">


 <style type="text/css">
    body{
      background-image: url("https://hdqwalls.com/download/calm-ocean-water-5k-jd-2048x1152.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: 'Rancho', shadow-multiple;
      margin-left: 50px;
      margin-right: 50px;
      /*animation: fade 4s infinite;*/
      transition: all 1s ease;

    }
    h1{
      font-size: 12vh;
    }
    h2{
      font-size: 3vh;
    }
    .garis{
     max-width: 60vw;
     border-top: 1px solid grey; 
    }
    button{
      height: 4vh;
      background-color:rgba(0, 0, 0, 0.1); 
      margin-left: 10px;
      color: white;
      transition: 0.25s ease-out ;
    }
    .jumbotron{
      background-color:rgba(0, 0, 0, 0.5);
    }
    form.jumbotron{
      max-width: 60vw;
      background-color: rgba(10, 86, 209, 0.5);
    }

    div.panel {
      margin: 0;
      padding: 0 18px;
      background-color: rgba(10, 86, 209, 0.5);
      max-height: 0;
      overflow: hidden;
      transition: 0.25s ease-out ;
    }
    #accordion{
      align-items: center;
      text-align: center;
    }
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('https://media.giphy.com/media/Vov4SPSPhxl8k/source.gif') 50% 50% no-repeat rgb(249, 249, 249);
      background-size: auto;
    }
    tr{
      alignment-baseline: central;
      top: 50% !important;
    }
  </style>
</head>
<body onload="loadBooks()">

  <div class="row">
    <div class="col">
      <a href="profile" class="float-left">
        <button class="btn">
          Profile
        </button>
      </a>
      <a href="beranda">
        <button class="btn">
          Beranda
        </button>
      </a>
    </div> 
    <h2 class="col">
      <button onclick="changeTheme()" class="float-right btn">
        <p  id="tulisan-tombol">
          Senja
        </p>
      </button>
    </h2>
  </div>