{%include 'header.html'%}
  <div class="loader"></div>

    <h1 class="col">
      Hello apa kabar?
    </h1>
	<form method="POST" class="jumbotron mx-auto d-block">
		{% csrf_token %}
		{{form}}
		<button type="submit" class="save btn btn-default">Save</button> 
	</form>

<div class="jumbotron"> 
 {% for a in data%} 
 <h2 class="garis mx-auto d-block"></h2>
 <div class="row">
  <h2 class="col-6" style="text-align: center;">{{a.status}}</h2>  
  <h2 class="col-6" style="text-align: center;">{{a.dateTime}}</h2> 
 </div> 
 {% endfor %}

{% include 'footer.html' %}