{%include 'header.html'%}
{% load static %}
<!-- <button onclick="loadBooks()" class="mx-auto d-block btn">Testing</button> -->
<input class="form-control mr-sm-2" id="search" type="search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" onclick="loadBooksReady()">Search</button>

<h2 id="numberOfFavorit" style="text-align: center;"></h2>
<table class="table" style="align-content: center; align-items: center; text-align: center;">
  <thead>
    <tr>
      <td scope="col"><h3>Preview</h3></td>
      <th scope="col"><h3>Title</h3></th>
      <td scope="col"><h3>Author</h3></td>
      <td scope="col"><h3>Favorited</h3></td>
    </tr>
  </thead>
  <tbody id="tabel">
  </tbody>
</div>
<script src="{%static "function/list_buku.js"%}"></script>
{% include 'footer.html' %}