{% include 'header.html' %}
<!-- {% load static %} -->

<div id="accordion">
  <h3>Activity</h3>
  <div>
    <div>PPW</div>
    <div>PPW</div>
    <div>PPW</div>
    <div>PPW</div>
    <div>Other College tasks</div>
  </div>

  <h3>Experience</h3>
  <div>
    <div>Kesatuan Bangsa HighSchool</div>
    <div>University of Indonesia</div>
  </div>

  <h3>Achievements</h3>
  <div>
    <div>Second Step of National Training in Eating Chips</div>
    <div>Eating Popmie in the middle of a ceremony</div>
  </div>

</div>
  <script src="{%static 'styles/js/mainjs.js'%}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% include 'footer.html' %}